@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Iansui&display=swap');
* {
    padding: 0;
    margin: 0;
}

.cabecalho {
    width: 1530px;
    height: 70px;
    background-color: #ed5418;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: white;
}

img {
    margin: auto;
    display: block;
    margin-top: 40px;
    width: 300px;
    height: auto;
}

.container_temperatura {
    width: 20%;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    display: block;
    border-radius: 5px;
    padding: 5px 10px;
    border: 3px solid #ed5418;
    box-sizing: border-box;
}

.container_temperatura input {
    outline: none;
    border: none;
    margin-top: 10px;
    font-family:"Iansui", cursive;
    width: 90%;
    height: 20px;
}

.container_temperatura i {
    color: #ce8a15;
}

.button_converter {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 20%;
    height: 30px;
    font-family: "Iansui", cursive;
    background-color: #ed5418;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.texto-detalhes {
    margin: auto;
    margin-top: 50px;
    display: block;
    text-align: center;
    align-items: center;
    font-family:  "Iansui", cursive;
    font-size: 12px;
}

.texto-detalhes i {
    color: #ce8a15;
}

